<!-- Gallery Section -->
            <section id="gallery" class="gallery">
                <div class="container text-center">
                    <header>
                        <h2>Un vistazo al Candy Bar</h2>
                        <h3>Una galería de nuestro trabajo</h3>
                    </header>

                    <div class="gellery">
                        <div class="row">
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg01-small.jpg", :title => "image" %>
									<%= link_to "img/bg01.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>

                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg02-small.jpg", :title => "image" %>
									<%= link_to "img/bg02.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>
                       
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg03-small.jpg", :title => "image" %>
									<%= link_to "img/bg03.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>

                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg-small.jpg", :title => "image" %>
									<%= link_to "img/bg.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>

                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg05-small.jpg", :title => "image" %>
									<%= link_to "img/bg05.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>

                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg06-small.jpg", :title => "image" %>
									<%= link_to "img/bg06.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>

                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg04-small.jpg", :title => "image" %>
									<%= link_to "img/bg04.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>									

                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
									<%= image_tag "img/bg07-small.jpg", :title => "image" %>
									<%= link_to "img/bg07.jpg", :data => {:lightbox => 'image-1', :title=>'Image Caption'}, class: "has-border" do%>
                                        <span class="icon-search"></span>									
									<% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Gallery Section -->
