<!-- Menu Section -->
<section id="menu" class="menu">
    <div class="container">
        <header class="text-center">
            <h2>Nuestros paquetes</h2>
            <h3>Las opciones mas populares</h3>
        </header>

        <div class="menu">
            <!-- Tabs Navigatin -->
            <ul class="nav nav-tabs text-center has-border" role="tablist">
                <li role="presentation" class="active"><a href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">Básico</a></li>
                <li role="presentation"><a href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab">Elegante</a></li>
                <li role="presentation"><a href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab">Premium</a></li>
                <li role="presentation"><a href="#party" aria-controls="party" role="tab" data-toggle="tab">Deluxe</a></li>
                <li role="presentation"><a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">Pasteles</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <%= render :partial => 'breakfast' %>
		        <%= render :partial => 'lunch' %>
		        <%= render :partial => 'dinner' %>
		        <%= render :partial => 'party' %>
		        <%= render :partial => 'drinks' %>
            </div>
        </div>
    </div>
</section>
<!-- End Menu Section -->